<div class="reviews-contain">
  <div class="page-width">
  <div class="carousel-contain">
    <div class="carousel-header">
      <h2>What <span>customers</span> are saying about our boxes</h2>
    </div>
    carousel
  </div>
  </div>
</div>
