<div class="page-wrapper">
    <div class="page-text">
    <h1 class="site-hero">We're a bunch of nerds. <span>Just. Like. You.</span></h1>
    <div class="page-cms-content">
     {{page.content}}
     </div>
     <div class="boxmtn-quote">
         <div class="quote-red-dash"></div>
         <div class="commitment-quoted">Matt Gorton & Mike Oreszczyn</div>
     </div>
        </div>
    </div>
</div>