<section class="home-nav">
    <div class="home-nav-wrapper" id="homeTopnav">
        <div class="placeholder"></div>
        <a class="home-nav-link" href="{{section.settings.home_nav_link1}}">About Us</a>
        <a class="home-nav-link" href="{{section.settings.home_nav_link3}}">Contact Us</a>
        <a class="home_icon" href="javascript:void(0);" onclick="homeFunction()">
            <i class="fa fa-bars" id="home-fa-bars"></i>
        </a>

    </div>
</section>
{% schema %}
{
    "name": "Home Nav",
    "settings": [
        {
            "type": "url",
            "id": "home_nav_link1",
            "label": "Home Nav Link 1"
        },    {
            "type": "url",
            "id": "home_nav_link2",
            "label": "Home Nav Link 2"
        },    {
            "type": "url",
            "id": "home_nav_link3",
            "label": "Home Nav Link 3"
        }
    ]
}

{% endschema %}