
            <div class="carousel-header">
                <h2>What
                    <span>customers</span>
                    are saying about our boxes</h2>
            </div>
            <div class="carousel_row">
         


 

{% schema %}


{
  "name": "Box Mountain Carousel",
  "settings": [
      {
          "type": "image_picker",
          "id": "carousel_image1",
          "label": "Carousel Image 1"
         
      }, {
        "type": "image_picker",
        "id": "carousel_image2",
        "label": "Carousel Image 2"
      },
      {
        "type": "image_picker",
        "id": "carousel_image3",
        "label": "Carousel Image 3"
      }
    ]
}

{% endschema %}