<div class="page-wrapper">
    <div class="maker_box_instructions_title">
        <h1>Frequently Asked Questions</h1>
    </div>
    <span class="title_divider"></span>
    <div class="page-text">
        <div class="maker_box_faq">
            {{page.content}}
        </div>
    </div>
</div>


{% schema %}
{
"name": "Maker Box FAQ Section",
"settings": [
    {
    "type": "text",
    "id": "maker_faq_header",
    "label": "Maker FAQ Header",
    "default": "Maker Box FAQ"
       
    }
    ]
}

{% endschema %}