<div class="page-wrapper">
    <h1>{{section.settings.maker_box_faq_header}}</h1>
    <div class="page-text">
        {{page.content}}
    </div>
</div>


{% schema %}
{
"name": "Maker Box FAQ Section",
"settings": [
    {
    "type": "text",
    "id": "maker_faq_header",
    "label": "Maker FAQ Header",
    "default": "Maker Box FAQ"
       
    }
    ]
}

{% endschema %}