<div class="page-wrapper">
<div class="social-media-links">
<a href="{{section.settings.social_maker_fb}}"><i class="fab fa-facebook-square"></i></a>
<a href="{{section.settings.social_maker_twitter}}"><i class="fab fa-twitter-square"></i></a>
<a href="{{section.settings.social_maker_ig}}"><i class="fab fa-instagram-square"></i></a>
</div>
</div>


{% schema %}

{
    "name": "Maker Social",
    "settings": [
        {
            "type": "url",
            "id": "social_media_fb",
            "label": "Maker Facebook"
        }, 
         {
            "type": "url",
            "id": "social_maker_twitter",
            "label": "Maker Twitter"
        }, 
         {
            "type": "url",
            "id": "social_maker_ig",
            "label": "Maker Instagram"
        }
    ]
}

{% endschema %}