<section class="pips-box-nav">
    <div class="pips-box-nav-wrapper" id="pipsTopnav">
        <a href="{{section.settings.pips_box_nav_logo_link}}"><img class="pips-box-nav-logo" src="{{section.settings.pips_box_nav_logo | img_url: '70x'}}"></a>
        <a class="pips-box-nav-link" id="pips_plan_link" href="{{section.settings.pips_nav_plans}}">Products</a>
        <a class="pips-box-nav-link" href="{{section.settings.pips_nav_faq}}">FAQ</a>
        <a class="icon-pips" href="javascript:void(0);" onclick="myFunctionPips()">
            <i class="fa fa-bars" id="pips-fa-bars"></i>
        </a>
    </div>
</section>

{% schema %}
{
    "name": "Pips Nav",
    "settings": [
        {
            "type": "image_picker",
            "id": "pips_box_nav_logo",
            "label": "Pips Nav Logo"
        },
        {
            "type": "url",
            "id": "pips_box_nav_logo_link",
            "label": "Pips Nav Logo Link"
        },
        {
            "type": "url",
            "id": "pips_nav_plans",
            "label": "Pips Nav Plans"
        },
        {
            "type": "url",
            "id": "pips_nav_faq",
            "label": "Pips Nav FAQ"
        }
    ]
}

{% endschema %}