<div class="page-wrapper">
    <div class="page-text">
    <div class="pips-faq-header">
        <h1>Frequently Asked Questions</h1>
    </div>
    <div class="page-cms-content">
     {{page.content}}
     </div>
    
        </div>
    </div>
</div>