<section class="pips-call-to-action">
    <div class="pips_call_to_action_wrapper">
        <div class="pips_action_box">
            <div class="pips_action_box_text">
                <h2>{{section.settings.pips_action_box_title}}</h2>
            </div>
        <div class="pips_action_box_buttons">
            <a href="{{section.settings.pips_action_link1}}"><button class="pips_order_button">{{section.settings.pips_button_text1}}</button></a>
        </div>
            </div>
        </div>
        <img src="{{section.settings.pip_icon | img_url: '200x'}}" class="pip_call_to_action_icon">
    </div>
</section>

{% schema %}

{
    "name": "Pips Call to Action",
    "settings": [
        {
            "type": "text",
            "id": "pips_action_box_title",
            "label": "Pips Call to Action Text",
            "default": "If you love it, you can even sign up for a shipment every month at a discount!"
        }, {
            "type": "text",
            "id": "pips_button_text1",
            "label": "Pips Action Button Text 1",
            "default": "Order a Box"
        },
       
        {
            "type": "image_picker",
            "id": "pip_icon",
            "label": "Pip Call-To-Action Icon"
        },
        {
            "type": "url",
            "id": "pips_action_link1",
            "label": "Pips Action Link 1"
        }
      
    ]
}
{% endschema %}