@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
/*=============custom==========*/ /*fonts*/
body,
input,
textarea,
button,
select,
.disclosure__toggle {
  font-family: atten-round-new, sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  color: #2e4d71;
  overflow-x: hidden;
}
h1,
.h1,
h2,
.h2 {
  font-family: p22-underground, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: none;
  color: #181938;
}
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: p22-underground, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #181938;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.page-text {
  width: 1200px;
}

@media screen and (max-width: 1220px) {
  .page-text {
    width: 80vw;
  }
}

/*nav*/
.main_content {
  padding-top: 0;
}
.announcement-bar-logo {
  padding-top: 15px;
  h1 {
    color: white;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 2.10001px;
  }
}

.announcement-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  top: 0;
}
.nav {
  top: 0;
}
.topnavimg {
  max-width: 35px;
  max-height: 35px;
  position: relative;
  top: 12px;
}
.site-nav {
  margin: 0 !important;
}
#SiteNav > li.site-nav--active {
  background: none;
}
.list--inline > li {
  padding: 15px;
}
.site-nav__link:focus .site-nav__label,
.site-nav__link:not([disabled]):hover .site-nav__label {
  border-bottom: 2px solid #ff4838;
  transition: 0.1s linear all;
}
.site-nav__label {
  transition: 0.1s linear all;
}
.site-nav__link--active .site-nav__label {
  border-bottom: 2px solid transparent;
}
a:not([disabled]):hover,
a:focus {
  color: white;
}
.site-header,
.site-header__mobile-nav {
  margin: 0 auto;
}
.site-header__logo {
  color: white;
}
.site-header,
.site-header__mobile-nav {
  background: #3854a0;
}
.site-nav__link {
  font-size: 17px;
  color: white;
}
.announcement-links {
  text-align: right;
  padding-top: 15px;
  padding-bottom: 15px;
}

.announcement-links a {
  color: white;
}

.site-nav {
  text-align: center;
}
.btn--link,
.btn--link:not([disabled]):hover,
.btn--link:focus {
  color: white;
}
/*mobile nav */
@media only screen and (max-width: 749px) {
  .site-header {
    border-bottom: 0px transparent;
  }
  .site-header__icons {
    padding-right: 0;
  }
  .mobile-nav__link,
  .mobile-nav__sublist-link {
    display: block;
    width: 100%;
    padding: 15px 25px;
    font-size: 18px;
    color: white;
  }
  .mobile-nav__label {
    border-bottom: 0;
  }
}
.mobile-nav-wrapper {
  background-color: #4369d0;
}
#shopify-section-header
  > div:nth-child(3)
  > header
  > div
  > div.grid__item.medium-up--one-quarter.logo-align--left
  > h1 {
  padding-left: 0;
}
/*footer*/
.site-footer {
  padding-bottom: 0;
}
.site-footer-columns {
  padding: 60px 0;
  background: #181938;
  color: white;
}
.site-footer-columns a,
.footer-title {
  color: white;
}
.footer-title {
  margin-bottom: 10px;
}
.footer-columns-contain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid white;
  max-width: 70%;
  padding-top: 20px;
}
.footer-link-contain {
  margin: 0 0 10px 0;
}
.bottom-footer {
  padding-top: 20px;
  background: #000121;
  padding-bottom: 20px;
}
.bottom-footer a {
  color: white;
}
.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-bottom-left,
.footer-copyright {
  font-size: 16px;
}
.footer-bottom-left a:first-child,
.footer-copyright a:first-child {
  margin-right: 40px;
}
@media screen and (max-width: 949px) {
  .footer-flex {
    display: block;
  }
  .footer-bottom-left,
  .footer-copyright {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 749px) {
  .footer-columns-contain {
    max-width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .footer-bottom-left,
  .footer-copyright {
    display: block;
  }
  .footer-bottom-left a,
  .footer-copyright a {
    width: 100%;
    display: block;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 420px) {
  .footer-columns-contain {
    display: block;
  }
  .footer-link-contain {
    padding: 10px;
  }
  .site-footer-columns {
    text-align: center;
  }
}

/*index*/
.site-hero {
  padding-top: 40px;
  font-weight: 400;
  text-align: center;
}
.site-hero span,
.carousel-header span {
  -webkit-text-decoration: #ff4838 solid underline;
  text-decoration: #ff4838 solid underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
}
/*hero boxes*/
// #MainContent > div:nth-child(2) {
//   max-width: 2000px;
// }
.hero-box-contain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding-top: 50px;
}
.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-logo {
  background: #181938;
  padding: 10px 40px;
  max-width: 280px;
  position: relative;
  top: -40px;
}
.hero-desc {
  padding: 0px 40px;
}
.hero-desc a {
  font-weight: 800;
  font-size: 14px;
  padding-bottom: 3px;
  border-bottom: 2px solid #ff4838;
}
.hero-desc a:hover {
  color: #ff4838;
}
.hero-desc a:after {
  content: '';
  background-image: url(//cdn.shopify.com/s/files/1/0370/3422/9898/t/2/assets/link.png?v=8910685783643723795);
  height: 20px;
  background-size: 20px;
  width: 20px;
  display: inline-block;
  top: 6px;
  position: relative;
  margin-left: 5px;
}
@media screen and (max-width: 900px) {
  .hero-desc {
    padding: 0 0;
    font-size: 16px;
  }
}
@media screen and (max-width: 700px) {
  .hero-box-contain {
    display: block;
  }
  .hero-desc {
    padding: 0 0;
    font-size: 24px;
    margin-bottom: 60px;
  }
  .hero-desc a {
    font-size: 20px;
  }
  .hero-desc a:after {
    height: 30px;
    background-size: 30px;
    width: 30px;
    top: 8px;
  }
}
/* review carousel */
.reviews-contain {
  background: url(//cdn.shopify.com/s/files/1/0370/3422/9898/t/2/assets/boxbg.jpg?v=16508749248057844879),
    #3854a0;
  background-size: contain;
  padding: 80px 0;
  margin: 80px 0;
  width: 100vw;
}
.reviews-contain h2 {
  color: white;
  letter-spacing: normal;
  font-size: 26px;
  width: 100vw;
}
.carousel-contain {
  padding: 0 10%;
}
/*text + img block at bottom of index */
.commitment-text {
  font-size: 21px;
}
.commitment-flex {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 80px;
  align-items: center;
}
.lefttext h2 {
  letter-spacing: normal;
}
.lefttext h2 span {
  -webkit-text-decoration: #ff4838 solid underline;
  text-decoration: #ff4838 solid underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
}
.quote-red-dash {
  display: inline-block;
  height: 2px;
  width: 40px;
  background: red;
  position: relative;
  top: -5px;
}
.commitment-quoted {
  color: #181938;
  display: inline;
  font-size: 18px;
  margin-left: 15px;
  font-weight: bold;
}
@media screen and (max-width: 749px) {
  .commitment-flex {
    grid-gap: 10px;
  }
  .commitment-quoted {
    font-size: 15px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 550px) {
  .commitment-flex {
    display: block;
  }
  .rightimg {
    display: none;
  }
}

.subpage_hero {
  display: flex;
  justify-content: center;
  align-items: content;
  position: relative;
  height: 80vh;
  width: 100vw;
  object-fit: contain;
  overflow: hidden;
  object-position: top;
  margin-top: -55px;
}

.subpage_hero_image {
  position: absolute;
  min-width: 100%;
  z-index: 1;
  min-height: 80vh;
  object-fit: cover;
  opacity: 0.7;
}

@media (max-width: 1200px) {
  .subpage_hero {
    height: 70vh;
  }
}

.subpage_hero_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  position: relative;
  text-align: left;
  padding: 2rem 2rem;
  h1 {
    font-family: pt-sans-pro, sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #4a4a4a;
    line-height: 1.4;
    z-index: 10;
  }
  p {
    z-index: 10;
    font-family: pt-sans-pro, sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.4;
    color: rgba(155, 155, 155, 1);
    margin: 0px 0px 30px;
  }
  button {
    z-index: 10;
    background-color: #0172ff;
    color: white;
    opacity: 1;
    align-self: flex-start;
    padding: 18px 36px;
    font-family: pt-sans-pro, sans-serif;
    font-size: 18px;
    outline: none;
    border: none;
    position: absolute;
    left: 0;
    margin-left: 2rem;
    &:hover {
      background-color: #00ccff;
    }
  }
}

.maker_box_instructions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.maker_box_instructions_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 900px;
}

.maker_box_instructions_title {
  h1 {
    font-family: pt-sans-pro, sans-serif;
    font-size: 32;
    padding: 20px 0;
    color: #4a4a4a;
    font-weight: 400;
    text-align: center;
    padding: 0 15px;
    margin: 35px 66px 0;
  }
}

.title_divider {
  background-color: #0172ff;
  width: 5rem;
  height: 0.3rem;
  text-align: center;
  display: inline-block;
  margin: 30px;
}

.instructional_steps_row_left {
  display: grid;
  grid-template-columns: repeat(2, auto);
  max-width: 900px;
}

@media screen and (max-width: 950px) {
  .instructional_steps_row_left {
    grid-template-columns: repeat(1, 1fr);
    width: 80vw;
    justify-items: center;
  }
}

.instructional_steps_row_right {
  display: grid;
  grid-template-columns: repeat(2, auto);
  max-width: 900px;
}

@media screen and (max-width: 950px) {
  .instructional_steps_row_right {
    grid-template-columns: repeat(1, 1fr);
    width: 80vw;
    justify-items: center;
  }
}

.instructional_steps_text {
  p {
    text-align: left;
    margin: 0 0 16px;
    font-size: 21px;
    vertical-align: baseline;
    line-height: 1.5em;
    margin-bottom: 1rem;
    font-family: pt-sans-pro, sans-serif;
    color: #9b9b9b;
  }
}

.instructional_steps_header {
  text-align: left;
  h2 {
    font-family: pt-sans-pro, sans-serif;
    font-size: 24px;
    color: #4a4a4a;
    span {
      font-size: 80px;
      color: #f2f2f2;
      font-weight: bold;
      top: 20px;
      position: relative;
      margin: 0 10px 0 0 0;
    }
  }
}

.instruction_image {
  max-width: 250px;
  border-radius: 200%;
  box-shadow: 0px 0px 15px #00000026;
  margin: 0px 40px;
  margin: 2rem;
}
@media screen and (max-width: 950px) {
  .maker_box_instructions_container {
    display: flex;
    justify-content: center;
  }
  #maker_instruction_image_2,
  #maker_instruction_image_4 {
    order: 1;
  }
}
// CRYPTID CRATE HOMEPAGE

.cryptid-crate-hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.cryptid-hero_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0px 40px;
  max-width: 1040px;
}

@media screen and (max-width: 1000px) {
  .cryptid-hero_container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .cryptid-hero_container {
    margin-top: 55px;
  }
}
.cryptid-hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #152100;
  font-family: 'Bangers', cursive;
  color: #f8f0ab;
  padding: 30px;
  text-align: center;
  max-height: 70vh;
  p {
    margin-bottom: 3rem;
    color: #f8f0ab;
    font-family: paralucent, sans-serif;
    font-weight: 400;
  }
  h1 {
    color: #f8f0ab;
    font-family: 'Bangers', cursive;
    font-size: 60px;
    letter-spacing: 0.077em;
    margin-bottom: 3rem;
  }
}
.cryptid-hero-image {
  overflow: hidden;
  max-height: 70vh;
}

.cryptid_image {
  object-fit: cover;
  height: 100%;
}

.cryptid_hero_button {
  padding: 19.2px 80px;
  background-color: #f8f0ab;
  color: #152100;
  font-size: 16px;
  font-family: 'Bangers', cursive;
  border-radius: 20px;
  border: none;
  outline: none;
  letter-spacing: 0.2em;
  &:hover {
    background-color: #d7bee4;
    color: white;
  }
}

.cryptid_steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  justify-items: center;
  width: 1040px;
  margin-top: 5rem;
}

@media screen and (max-width: 1040px) {
  .cryptid_steps {
    width: 80vw;
  }
}

@media screen and (max-width: 750px) {
  .cryptid_steps {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cryptid_step_box {
  text-align: center;
  max-width: 346px;
  padding: 20px;
  font-family: 'Bangers', cursive;
  p {
    color: #f8f0ab;
    font-size: 15px;
    font-family: paralucent, sans-serif;
    font-weight: 400;
  }
  h3 {
    font-family: 'Bangers', cursive;
    color: #f8f0ab;
  }
}

.cryptid_home_product {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
}

.cryptid_home_product_images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1040px;
  object-fit: cover;
  margin-top: 5rem;
}

.cryptid_product_image {
  object-fit: cover;
  width: 100%;
}

.cryptid_home_product_text {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5rem;
  max-width: 1040px;
  align-items: center;
  p {
    color: #f8f0ab;
    font-family: paralucent, sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 750px) {
  .cryptid_home_product_text {
    grid-template-columns: repeat(1, 1fr);
  }
}
.capture_the_cryptids {
  h1 {
    font-family: 'Bangers', cursive;
    color: #f8f0ab;
    font-size: 60px;
    margin-top: 7rem;
  }
  p {
    font-family: paralucent, sans-serif;
    font-weight: 400;
    color: #f8f0ab;
    font-size: 18px;
    max-width: 1040px;
    margin: 2rem 0;
    padding: 0 1rem;
  }
  button {
    margin-bottom: 7rem;
    &:hover {
      background-color: #1ddf3b;
    }
  }
}

//CRYPTID FAQ

.cryptid_faq {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
}
.cryptid_faq_wrapper {
  max-width: 1040px;
  margin-bottom: 5rem;
  h1 {
    font-family: 'Bangers', cursive;
    font-size: 60px;
    color: #f8f0ab;
    margin: 0 0 40px;
    letter-spacing: 0.077em;
  }
  h2 {
    font-family: 'Bangers', cursive;
    font-size: 24px;
    color: #f8f0ab;
    letter-spacing: 0.077em;
    margin: 0 0 15px;
  }
  p {
    font-family: paralucent, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #f8f0ab;
    letter-spacing: 0.077em;
    margin: 0 0 25px;
    padding: 0 1rem 25px;
    border-bottom: 1px solid #e1e1e1;
  }
}

// Maker Box Nav
.maker-box-nav {
  width: 100vw;
  border-bottom: 5px solid #0871ff;
  background-color: #f5f6fb;
  padding: 10px 5%;
}
.maker-box-nav-wrapper {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #f5f6fb;
  align-items: center;
}
.maker-box-nav-link {
  color: black;
  font-family: pt-sans-pro, sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.1em;
  padding: 14px 16px;
  &:hover {
    color: #0073ff;
  }
}

.maker-box-nav-wrapper a:hover {
  color: #0073ff;
}

.maker-box-nav-link a:hover {
  color: #0073ff;
}

#maker-fa-bars {
  color: black;
  &:hover {
    color: #0073ff;
  }
}
.maker-box-nav-wrapper.responsive a:hover {
  color: #0073ff;
}

.maker-box-nav-logo {
  min-width: 30px;
}

@media screen and (min-width: 851px) {
  .maker-box-nav {
    display: flex;
    justify-content: center;
  }
  .maker-box-nav-wrapper {
    width: 1200px;
  }

  .maker-box-nav-logo a {
    padding-left: 0;
  }
}

.maker-box-nav-wrapper a.active {
  background-color: #f5f6fb;
  float: left;
}
.maker-box-nav-wrapper .icon {
  display: none;
  font-size: 2rem;
  right: 1;
}

.maker-box-nav-link {
  padding-left: 5rem;
}

@media screen and (max-width: 850px) {
  .maker-box-nav-logo {
    padding-left: 2rem;
  }

  .maker-box-nav {
    padding: 10px 0;
  }
  .maker-box-nav-wrapper {
    align-items: initial;
    padding-right: 0;
  }
  .maker-box-nav-wrapper .icon {
    margin-right: 3.3rem;
  }
}
@media screen and (max-width: 850px) {
  .maker-box-nav-wrapper a:not(:first-child) {
    display: none;
  }
  .maker-box-nav-wrapper a.icon {
    float: right;
    display: block;
    top: 0rem;
    right: 0rem;
  }
}

@media screen and (max-width: 850px) {
  .maker-box-nav-wrapper.responsive {
    position: relative;
    width: 100vw;
    flex-direction: column;
    align-items: initial;
  }
  .maker-box-nav-wrapper.responsive .icon {
    position: absolute;
    right: 0rem;
    top: 0rem;
  }
  .maker-box-nav-wrapper.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

// Pips Nav

.pips-box-nav {
  width: 100vw;
  border-bottom: none;
  background-color: #f0f0f0;
  padding: 10px 5%;
}

.pips-box-nav-wrapper {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #f0f0f0;
  align-items: center;
}

.pips-box-nav-link {
  color: #385e05;
  font-family: Almaq, sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1em;
  padding: 14px 16px;
  &:hover {
    color: #077b03;
  }
}

.pips-box-nav-wrapper a:hover {
  color: #077b03;
}

.pips-box-nav-link a:hover {
  color: #077b03;
}

#pips-fa-bars {
  color: black;
  &:hover {
    color: #077b03;
  }
}
.pips-box-nav-wrapper.pipsresponsive a:hover {
  color: #077b03;
}

@media screen and (min-width: 851px) {
  .pips-box-nav {
    display: flex;
    justify-content: center;
  }
  .pips-box-nav-wrapper {
    width: 1200px;
  }

  .pips-box-nav-logo a {
    padding-left: 0;
  }
  #pips_plan_link {
    margin-left: 60%;
  }
}

.pips-box-nav-wrapper a.active {
  background-color: #f0f0f0;
  float: left;
}
.pips-box-nav-wrapper .icon-pips {
  display: none;
  font-size: 2rem;
  right: 1;
}

.pips-box-nav-link {
  padding-left: 5rem;
}

@media screen and (max-width: 850px) {
  .pips-box-nav-logo {
    padding-left: 2rem;
  }

  .pips-box-nav {
    padding: 10px 0;
  }
  .pips-box-nav-wrapper {
    align-items: initial;
    padding-right: 0;
  }
  .pips-box-nav-wrapper .icon-pips {
    margin-right: 3.3rem;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 850px) {
  .pips-box-nav-wrapper a:not(:first-child) {
    display: none;
  }
  .pips-box-nav-wrapper a.icon-pips {
    float: right;
    display: block;
    top: 0rem;
    right: 0rem;
  }
}

@media screen and (max-width: 850px) {
  .pips-box-nav-wrapper.pipsresponsive {
    position: relative;
    width: 100vw;
    flex-direction: column;
    align-items: initial;
  }
  .pips-box-nav-wrapper.pipsresponsive .icon-pips {
    position: absolute;
    right: 0rem;
    top: 0rem;
  }
  .pips-box-nav-wrapper.pipsresponsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

// Cryptid Crate Nav

.cryptid-box-nav {
  width: 100vw;
  border-bottom: none;
  background-color: #172200;
  padding: 10px 5%;
}

.cryptid-box-nav-wrapper {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #172200;
  align-items: center;
}

.cryptid-box-nav-link {
  color: #385e05;
  font-family: pt-sans-pro, sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.1em;
  padding: 14px 16px;
  &:hover {
    color: #f9f4a9;
  }
}

.cryptid-box-nav-wrapper a:hover {
  color: #f9f4a9;
}

.cryptid-box-nav-link a:hover {
  color: #f9f4a9;
}

#cryptid-fa-bars {
  color: #385e05;
  &:hover {
    color: #f9f4a9;
  }
}
.cryptid-box-nav-wrapper.cryptidresponsive a:hover {
  color: #f9f4a9;
}

@media screen and (min-width: 851px) {
  .cryptid-box-nav {
    display: flex;
    justify-content: center;
  }
  .cryptid-box-nav-wrapper {
    width: 1200px;
  }

  .cryptid-box-nav-logo a {
    padding-left: 0;
  }
}

.cryptid-box-nav-wrapper a.active {
  background-color: #385e05;
  float: left;
}
.cryptid-box-nav-wrapper .icon-cryptid {
  display: none;
  font-size: 2rem;
  right: 1;
}

.cryptid-box-nav-link {
  padding-left: 5rem;
}

@media screen and (max-width: 850px) {
  .cryptid-box-nav-logo {
    padding-left: 2rem;
  }

  .cryptid-box-nav {
    padding: 10px 0;
  }
  .cryptid-box-nav-wrapper {
    align-items: initial;
    padding-right: 0;
  }
  .cryptid-box-nav-wrapper .icon-cryptid {
    margin-right: 3.3rem;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 850px) {
  .cryptid-box-nav-wrapper a:not(:first-child) {
    display: none;
  }
  .cryptid-box-nav-wrapper a.icon-cryptid {
    float: right;
    display: block;
    top: 0rem;
    right: 0rem;
  }
}

@media screen and (max-width: 850px) {
  .cryptid-box-nav-wrapper.cryptidresponsive {
    position: relative;
    width: 100vw;
    flex-direction: column;
    align-items: initial;
  }
  .cryptid-box-nav-wrapper.cryptidresponsive .icon-cryptid {
    position: absolute;
    right: 0rem;
    top: 0rem;
  }
  .cryptid-box-nav-wrapper.cryptidresponsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

// Pips Mountain Homepage

.pips_hero {
  display: flex;
  justify-content: center;
  align-items: content;
  position: relative;
  height: 50vh;
  width: 100vw;
  object-fit: contain;
  overflow: hidden;
  object-position: top;
  margin-top: -55px;
}
.pips_hero_image {
  position: absolute;
  min-width: 100%;
  z-index: 1;
  min-height: 50vh;
  object-fit: cover;
}
.pips_hero_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  min-height: 50vh;
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
}

.pips_hero_text_wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 80vw;
  min-height: 30vh;

  text-align: center;
}
.pips_hero_title {
  z-index: 10;
  font-size: 5rem;
  font-family: Almaq, sans-serif;
  color: black;
}
.pips_hero_subtitle {
  z-index: 10;
  font-size: 3rem;
  font-family: Almaq, sans-serif;
  color: black;
  margin-bottom: 2rem;
}
.pips_hero_button {
  background-color: #077b00;
  text-transform: uppercase;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-family: Almaq, sans-serif;
  &:hover {
    background-color: #63a35a;
  }
}

@media screen and (max-width: 600px) {
  .pips_hero_title {
    font-size: 3rem;
  }
  .pips_hero_subtitle {
    font-size: 1.5rem;
  }
}

// Pip Home Info Section
.pip-home-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.pip_info_title {
  margin-top: 5rem;
  h1 {
    color: #087b00;
    font-family: Almaq, sans-serif;
    font-weight: 500;
  }
}
.pip_info_grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80vw;
}
@media screen and (max-width: 1200px) {
  .pip_info_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.pip_info_grid_box {
  display: grid;
  grid-template-columns: 100px auto;
  background-color: #f0f0f0;
  text-align: left;
  align-items: center;
  border-radius: 10px;
  padding: 2% 5%;
  margin: 0.5rem 1rem;
  p {
    font-family: Almaq, sans-serif;
    color: black;
    padding-left: 2%;
    font-weight: 300;
  }
}

// Pips Home Call to Action

.pips-call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.pips_call_to_action_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  height: 50vh;
  width: 100vw;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.pips_call_to_action_wrapper:after {
  background: rgba(7, 123, 0, 0.7);
  content: '';
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-5deg);
  transform-origin: 100%;
  z-index: -1;
  width: 100vw;
  overflow: hidden;
}

.pips_action_box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  height: 30vh;
  width: 60vw;
  text-align: center;
  padding: 1rem 2rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  margin-top: 7%;

  h2 {
    color: #087b00;
    letter-spacing: 0rem;
    font-family: Almaq, sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
  }
  button {
    color: white;
    border: none;
    outline: none;
    width: 12rem;
    padding: 1rem 1rem;
    border-radius: 10px;
    font-family: Almaq, sans-serif;
  }
}

.pip_call_to_action_icon {
  right: 15%;
  position: absolute;
  z-index: 10;
  margin-top: 5rem;
}
@media screen and (max-width: 1300px) {
  .pip_call_to_action_icon {
    height: 200px;
  }
}

@media screen and (max-width: 600px) {
  .pip_call_to_action_icon {
    display: none;
  }
}

.pips_order_button {
  background-color: #899992;
  margin: 0.5rem;
  &:hover {
    background-color: #63a35a;
  }
}
.pips_order_more_button {
  background-color: #676666;
  margin: 0.5rem;
  &:hover {
    background-color: #63a35a;
  }
}

// Pips Home How It Works Section

.pips-how-it-works {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  h1 {
    color: #077b00;
    margin-bottom: 3rem;
    font-family: Almaq, sans-serif;
    font-weight: 500;
  }
}
.pips_how_it_works_group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1200px;
  margin-bottom: 3rem;
}
@media screen and (max-width: 1200px) {
  .pips_how_it_works_group {
    grid-template-columns: repeat(1, 1fr);
  }
}
.how_it_works_image {
  border-radius: 200%;
}
.pips_how_it_works_step {
  p {
    font-family: Almaq, sans-serif;
  }
}
.how_it_works_button {
  color: white;
  border: none;
  outline: none;
  width: 12rem;
  padding: 1rem 1rem;
  border-radius: 10px;
  font-family: Almaq, sans-serif;
  background-color: #077b00;
  text-transform: uppercase;
  &:hover {
    background-color: #63a35a;
  }
}

// Pips Home About

.pips-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  margin-top: 5rem;
  overflow: hidden;
  h1 {
    color: #077b00;
    margin-bottom: 3rem;
    font-family: Almaq, sans-serif;
    font-weight: 500;
  }
}
.pips_about_group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1200px;
  margin-bottom: 3rem;
}

@media screen and (max-width: 1200px) {
  .pips_about_group {
    grid-template-columns: repeat(1, 1fr);
    width: 90vw;
  }
}
.about_image {
  border-radius: 200%;
}
.pips_about_step {
  p {
    font-family: Almaq, sans-serif;
    color: black;
  }
}

// Maker Box Plans Hero Section

.maker-box-plans-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  width: 100vw;
  flex-direction: column;
  background: rgb(88, 208, 239);
  background: linear-gradient(
    36deg,
    rgba(88, 208, 239, 1) 0%,
    rgba(81, 144, 208, 1) 100%
  );
  margin-top: -55px;
  position: relative;
}

.maker_box_plans_hero_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;

  h1 {
    color: white;
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 32px;
  }
  h3 {
    color: white;
    margin-top: 1rem;
    line-height: 1.7rem;
    vertical-align: baseline;
    font-size: 21px;
    font-family: roboto, sans-serif;
    font-weight: 500;
  }
}

.maker_box_plans_hero_text {
  max-width: 21rem;
  margin-right: 2rem;
}
.maker_box_plans_hero_divider {
  height: 5px;
  width: 3rem;
  margin: 30px 0;
  background: #0072ff;
}

@media screen and (max-width: 600px) {
  .maker_box_plans_hero_wrapper {
    width: 90vw;
    h1 {
      font-size: 24px;
    }
    h3 {
      font-size: 18px;
    }
    .maker_box_plans_hero_image {
      display: none;
    }
  }
}

.maker_box_plans_announcement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  bottom: 0;
  position: absolute;
  background-color: #000000;
  width: 100vw;
  padding: 15px;
  p {
    color: white;
    text-align: center;
    font-size: 19px;
    font-family: roboto, sans-serif;
  }
}

@media screen and (max-width: 650px) {
  .maker_box_plans_announcement p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 550px) {
  .maker_box_plans_announcement p {
    font-size: 0.75rem;
  }
  .maker_box_plans_announcement_icon {
    display: none;
  }
}
.maker_box_plans_announcement_icon {
  padding-right: 0.1rem;
}
// Maker Box Plans
.maker-box-plans {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin-top: 5rem;
  h1 {
    font-family: pt-sans-pro, sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.1;
    color: rgb(74, 74, 74);
  }
}

.maker_box_plans_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1200px;
  margin-top: 4rem;
}
@media screen and (max-width: 1200px) {
  .maker_box_plans_grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 2rem;
    width: 100vw;
  }
}

.maker_box_item {
  position: relative;
  background: rgb(247, 247, 249);
  background: linear-gradient(
    79deg,
    rgba(247, 247, 249, 1) 0%,
    rgba(235, 243, 255, 1) 100%
  );
  border: 1px solid #e1e1e1;
  padding: 2rem;
  margin: 1rem;
  font-family: pt-sans-pro, sans-serif;
  text-align: center;
  h2 {
    font-family: pt-sans-pro, sans-serif;
    color: rgb(74, 74, 74);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
  }
  p {
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 30px;
    flex-grow: 1;
    font-family: roboto, sans-serif;
    color: rgb(155, 155, 155);
  }
  button {
    font-family: pt-sans-pro, sans-serif;
    background-color: #1b71ff;
    color: white;
    border: none;
    outline: none;
    padding: 15px 30px;
    width: 15rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    &:hover {
      background-color: rgb(0, 204, 255);
    }
  }
}
@media screen and (min-width: 1201px) {
  .maker_item_description {
    height: 10rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .maker_box_item {
    h2 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
    button {
      width: 10rem;
      font-size: 12px;
      padding: 15px 20px;
    }
  }
  .maker_box_plans_grid {
    margin-top: 2rem;
  }
}

// Maker Box Plans FAQ Section

.maker-box-plans-faq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-color: #f8f8f8;
  padding: 6rem 0;
  margin-bottom: -95px;
  h1 {
    color: #4a4a4a;
    margin-bottom: 3rem;
    font-weight: 500;
    font-family: pt-sans-pro, sans-serif;
    font-size: 32px;
  }
  h3 {
    padding: 1rem;
    font-family: roboto, sans-serif;
    color: #9b9b9b;
    font-weight: 600;
  }
  h2 {
    color: #4a4a4a;
    margin-bottom: 3rem;
    font-weight: 500;
    font-family: pt-sans-pro, sans-serif;
    font-size: 24px;
    letter-spacing: 0;
  }
  p {
    color: #9b9b9b;
    font-weight: 400;
    font-family: roboto, sans-serif;
  }
}

.maker_box_plans_faq_container {
  text-align: center;
  width: 900px;
}

// Cryptid Crate Plans Section

.cryptid-crate-plans {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.cryptid_crate_plans_title {
  color: #f7f784;
  font-family: 'Bangers', cursive;
  letter-spacing: 0.2rem;
}

@media screen and (max-width: 750px) {
  .cryptid_crate_plans_title {
    margin-top: 55px;
  }
}

.cryptid_crate_plans_subtitle {
  width: 1200px;
  font-family: paralucent, sans-serif;
  font-weight: 400;
  text-align: center;
  color: white;
  font-weight: 300;
  line-height: 1.7rem;
  padding: 10px;
}
.cryptid_crate_plans_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1200px;
}

@media screen and (max-width: 1200px) {
  .cryptid_crate_plans_grid {
    grid-template-columns: repeat(1, 1fr);
    width: 80vw;
  }
  .cryptid_crate_plans_subtitle {
    width: 80vw;
  }
}

.cryptid_crate_plans_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e4ea7b;
  padding: 1rem;
  margin: 2rem;
  color: #cfad66;
  text-align: center;
  position: relative;
  h2 {
    font-family: 'Bangers', cursive;
    color: #cfad66;
    text-align: center;
    height: 3rem;
    letter-spacing: 0.1em;
  }
  p {
    color: #cfad66;
    vertical-align: baseline;
    height: 290px;
    font-size: 17px;
    font-family: paralucent, sans-serif;
    font-weight: 400;
  }
}
.cryptid_plans_item_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  bottom: 0;
  position: absolute;
  padding-bottom: 2rem;
  button {
    border-radius: 20px;
    background-color: #f7f785;
    padding: 10px 30px;
    border: none;
    outline: none;
    font-family: 'Bangers', cursive;
    color: #172200;
    letter-spacing: 0.1rem;
    &:hover {
      background-color: #d7bee4;
    }
  }
  h3 {
    color: white;
    font-family: 'Bangers', cursive;
    letter-spacing: 0.1rem;
  }
}
.cryptid_plan_image {
  margin-bottom: 1.5rem;
}

// Pips Plans
.pips-plans {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  text-align: center;
}

.pips_plans_title {
  font-family: Almaq, sans-serif;
  margin: 2rem 0;
  letter-spacing: 0.2rem;
  color: #49494a;
}

.pips_plans_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 600px;
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .pips_plans_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.pips_item {
  width: 18rem;
  height: 25rem;
  text-align: center;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 5rem;
  position: relative;
  h1 {
    font-family: Almaq, sans-serif;
    letter-spacing: 0.1rem;
  }
  h2 {
    font-family: Almaq, sans-serif;
  }
  p {
    color: #49494a;
    font-family: Almaq, sans-serif;
  }
}

.pips_item_footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 1rem;
  margin-left: -1rem;
  button {
    background-color: #077b03;
    color: white;
    border-radius: 5px;
    padding: 5px 25px;
    outline: none;
    border: none;
    font-family: Almaq, sans-serif;
    &:hover {
      background-color: #63a35a;
    }
  }
}

.pips_multimonth_title {
  font-family: Almaq, sans-serif;
  margin-bottom: 3rem;
  letter-spacing: 0.2rem;
  color: #49494a;
}

.pips_multimonth_description {
  width: 1200px;
  font-family: Almaq, sans-serif;
  margin-bottom: 2rem;
  color: #c3c3c3;
}

.highlight-container,
.highlight {
  position: relative;
  z-index: -1;
}

.highlight-container {
  display: inline-block;
  z-index: -1;
}
.highlight-container:before {
  content: ' ';
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: rgba(234, 221, 6, 0.3);
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
  z-index: -1;
}

// Maker Box Reviews

.maker-box-review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5rem 0;
  width: 100vw;
  h2 {
    color: #9b9b9b;
    font-family: pt-sans-pro, sans-serif;
    font-weight: 300;
  }
}

.maker_box_review_container {
  width: 1200px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .maker_box_review_container {
    width: 90vw;
  }
  .maker_box_plans_faq_container {
    width: 90vw;
  }
}

@media screen and (max-width: 600px) {
  .maker_box_plans_faq_container {
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 18px;
    }
    p {
      font-size: 12px;
    }
  }
}

.maker_box_review_image {
  margin-bottom: 1rem;
}

// Coming Soon
.coming_soon {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#back {
  border: 3px solid #1b1d44;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 2rem;
  outline: none;
  background-color: none;
  transition: 0.5s cubic-bezier(0.44, 0.13, 0.48, 0.87);
  &:hover {
    background-color: #1b1d44;
    color: white;
  }
}

@media screen and (max-width: 400px) {
  .site-header__icon {
    font-size: 12px;
  }
  .site-header__logo-link {
    font-size: 14px;
  }
}

// Home Nav

.home-nav {
  width: 100vw;
  background-color: #3654a0;
  padding: 0 5%;
}
.home-nav-wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #3654a0;
  align-items: center;
}
.home-nav-link {
  color: white;
  font-family: p22-underground, sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding: 14px 3rem;
  &:hover {
    color: #1b1d44;
  }
}

.home-nav-wrapper a:hover {
  color: #1b1d44;
}

.home-nav-link a:hover {
  color: #1b1d44;
}

.home-nav-wrapper #home-fa-bars {
  position: absolute;
  right: 0;
  top: 1;
  margin-top: 0.5rem;
  margin-right: 2rem;
  color: white;
  &:hover {
    color: #1b1d4;
  }
}

.home-nav-wrapper.responsive a:hover {
  color: #1b1d44;
}

.home-nav-logo {
  min-width: 30px;
}

@media screen and (min-width: 851px) {
  .home-nav {
    display: flex;
    justify-content: center;
  }
  .home-nav-wrapper {
    width: 1200px;
  }

  .home-nav-logo a {
    padding-left: 0;
  }
}

.home-nav-wrapper a.active {
  background-color: #3654a0;
  float: left;
}
.home-nav-wrapper .home_icon {
  display: none;
  font-size: 2rem;
  right: 1;
}

.placeholder {
  display: none;
}
@media screen and (max-width: 850px) {
  .home-nav-logo {
    padding-left: 2rem;
  }

  .home-nav {
    display: flex;
    align-items: center;
    padding: 0px 0;
  }
  .home-nav-wrapper {
    align-items: initial;
    padding-right: 0;
  }
  .placeholder {
    display: block;
    width: 0;
    height: 3rem;
  }
}
@media screen and (max-width: 850px) {
  .home-nav-wrapper a:not(:last-child) {
    display: none;
  }
  .home-nav-wrapper a.home_icon {
    float: right;
    display: block;
    top: -1rem;
  }
}

@media screen and (max-width: 850px) {
  .home-nav-wrapper.homeresponsive {
    position: relative;
    width: 100vw;
    flex-direction: column;
    align-items: initial;
    padding: 10px 0;
  }
  .home-nav-wrapper.homeresponsive .home_icon {
    position: absolute;
    right: 0rem;
    top: 0rem;
  }
  .home-nav-wrapper.homeresponsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .home-nav-wrapper.homeresponsive .home-nav {
    padding: 0;
  }
}

// Terms and Conditions
.terms_and_conditions {
  width: 90vw;
}

// Box Mountain About Us

.about_us_container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about_us_text {
  width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .about_us_text {
    width: 80vw;
  }
}
@media screen and (max-width: 600px) {
  .about_us_text {
    h1 {
      font-size: 1.5rem;
    }
  }
}

//Home Carousel

.carousel_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carousel_body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  h2 {
    width: 600px;
    margin-top: 1.5rem;
    font-size: 2.5rem;
    font-weight: 300;
  }
  p {
    color: white;
    text-align: left;
  }
}

.carousel_logo {
  width: 75px;
  margin: 2rem;
}
