@import './theme.scss';

// Maker Box Nav
.maker-box-nav {
  width: 100vw;
  border-bottom: 5px solid #0871ff;
  background-color: #f5f6fb;
  padding: 10px 5%;
}
.maker-box-nav-wrapper {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #f5f6fb;
  align-items: center;
}
.maker-box-nav-link {
  color: black;
  font-family: pt-sans-pro, sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.1em;
  padding: 14px 16px;
  &:hover {
    color: #0073ff;
  }
}

.maker-box-nav-wrapper a:hover {
  color: #0073ff;
}

.maker-box-nav-link a:hover {
  color: #0073ff;
}

#maker-fa-bars {
  color: black;
  &:hover {
    color: #0073ff;
  }
}
.maker-box-nav-wrapper.responsive a:hover {
  color: #0073ff;
}

.maker-box-nav-logo {
  min-width: 30px;
}

@media screen and (min-width: 851px) {
  .maker-box-nav {
    display: flex;
    justify-content: center;
  }
  .maker-box-nav-wrapper {
    width: 1200px;
  }

  .maker-box-nav-logo a {
    padding-left: 0;
  }
}

.maker-box-nav-wrapper a.active {
  background-color: #f5f6fb;
  float: left;
}
.maker-box-nav-wrapper .icon {
  display: none;
  font-size: 2rem;
  right: 1;
}

.maker-box-nav-link {
  padding-left: 5rem;
}

@media screen and (max-width: 850px) {
  .maker-box-nav-logo {
    padding-left: 2rem;
  }

  .maker-box-nav {
    padding: 10px 0;
  }
  .maker-box-nav-wrapper {
    align-items: initial;
    padding-right: 0;
  }
  .maker-box-nav-wrapper .icon {
    margin-right: 3.3rem;
  }
}
@media screen and (max-width: 850px) {
  .maker-box-nav-wrapper a:not(:first-child) {
    display: none;
  }
  .maker-box-nav-wrapper a.icon {
    float: right;
    display: block;
    top: 0rem;
    right: 0rem;
  }
}

@media screen and (max-width: 850px) {
  .maker-box-nav-wrapper.responsive {
    position: relative;
    width: 100vw;
    flex-direction: column;
    align-items: initial;
  }
  .maker-box-nav-wrapper.responsive .icon {
    position: absolute;
    right: 0rem;
    top: 0rem;
  }
  .maker-box-nav-wrapper.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.maker_box_instructions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.maker_box_instructions_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 900px;
}

.maker_box_instructions_title {
  h1 {
    font-family: pt-sans-pro, sans-serif;
    font-size: 32px;
    padding: 20px 0;
    color: #4a4a4a;
    font-weight: 400;
    text-align: center;
    padding: 0 15px;
    margin: 35px 66px 0;
  }
}
@media screen and (max-width: 350px) {
  .maker_box_instructions_title {
    h1 {
      font-size: 24px;
    }
  }
}

.title_divider {
  background-color: #0172ff;
  width: 5rem;
  height: 0.3rem;
  text-align: center;
  display: inline-block;
  margin: 30px;
}

.instructional_steps_row_left {
  display: grid;
  grid-template-columns: repeat(2, auto);
  max-width: 900px;
}

@media screen and (max-width: 950px) {
  .instructional_steps_row_left {
    grid-template-columns: repeat(1, 1fr);
    width: 80vw;
    justify-items: center;
  }
}

.instructional_steps_row_right {
  display: grid;
  grid-template-columns: repeat(2, auto);
  max-width: 900px;
}

@media screen and (max-width: 950px) {
  .instructional_steps_row_right {
    grid-template-columns: repeat(1, 1fr);
    width: 80vw;
    justify-items: center;
  }
}

.instructional_steps_text {
  p {
    text-align: left;
    margin: 0 0 16px;
    font-size: 21px;
    vertical-align: baseline;
    line-height: 1.5em;
    margin-bottom: 1rem;
    font-family: pt-sans-pro, sans-serif;
    color: #9b9b9b;
  }
}

.instructional_steps_header {
  text-align: left;
  h2 {
    font-family: pt-sans-pro, sans-serif;
    font-size: 24px;
    color: #4a4a4a;
    span {
      font-size: 80px;
      color: #f2f2f2;
      font-weight: bold;
      top: 20px;
      position: relative;
      margin: 0 10px 0 0 0;
    }
  }
}

.instruction_image {
  max-width: 250px;
  border-radius: 200%;
  box-shadow: 0px 0px 15px #00000026;
  margin: 0px 40px;
  margin: 2rem;
}
@media screen and (max-width: 950px) {
  .maker_box_instructions_container {
    display: flex;
    justify-content: center;
  }
  #maker_instruction_image_2,
  #maker_instruction_image_4 {
    order: 1;
  }
}

// About Page

.maker_about_hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: -55px;
  position: relative;
  object-fit: cover;
  h1 {
    position: absolute;
    top: 7rem;
    color: white;
    font-family: roboto, sans-serif;
    font-size: 42px;
    font-weight: 500;
    width: 40rem;
    text-align: center;
  }
}
@media screen and (max-width: 1200px) {
  .maker_about_hero {
    h1 {
      width: 90vw;
      font-size: 38px;
    }
  }
}
.maker_about_hero_image {
  width: 100%;
  object-fit: cover;
  height: 20rem;
}
.maker_about_icon_group {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0px 5px 15px #0000001f;
}

@media screen and (max-width: 1200px) {
  .maker_about_icon_group {
    grid-template-columns: repeat(1, 1fr);
  }
}
.maker_icon_group {
  text-align: center;
  margin: 3rem 0;
  padding: 0 1rem;
  box-shadow: rgba(0, 0, 0, 1);
  p {
    font-family: roboto, sans-serif;
    font-size: 21px;
    color: #9b9b9b;
  }
}

.page-text {
  p {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-family: roboto, sans-serif;
    font-size: 21px;
    color: #9b9b9b;
    padding: 0 3rem;
    font-weight: 600;
  }
}

.maker_about_contact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 35rem;
  height: 15rem;
  margin-top: 2rem;
  box-shadow: 0px 5px 15px #0000001f;
  h2 {
    font-family: roboto, sans-serif;
    font-size: 24px;
    color: #9b9b9b;
    margin-bottom: 3rem;
  }
  button {
    background-color: #0172ff;
    color: white;
    opacity: 1;
    padding: 18px 36px;
    font-family: pt-sans-pro, sans-serif;
    font-size: 18px;
    outline: none;
    border: none;
    &:hover {
      background-color: #00ccff;
    }
  }
}

@media screen and (max-width: 575px) {
  .maker_about_contact {
    width: 80vw;
    h2 {
      font-size: 18px;
      padding: 1rem;
    }
  }
}

// FAQ

.maker-box-faq-group {
  margin-bottom: 2rem;
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
}

.maker_box_faq {
  margin-top: 3rem;
  h3 {
    font-family: roboto, sans-serif;
    color: #9b9b9b;
    font-weight: 600;
    padding: 1rem;
  }
  p {
    color: #9b9b9b;
    font-weight: 400;
    font-family: roboto, sans-serif;
  }
}

@media screen and (max-width: 750px) {
  .page-text {
    p {
      font-size: 16px;
      font-weight: 500;
    }
  }
}

// Maker Box Plans FAQ section
.maker-box-plans-faq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-color: #f8f8f8;
  padding-top: 6rem;
  padding-bottom: 10rem;
  margin-bottom: -220px;
  h1 {
    color: #4a4a4a;
    margin-bottom: 3rem;
    font-weight: 500;
    font-family: pt-sans-pro, sans-serif;
    font-size: 32px;
  }
  h3 {
    padding: 1rem;
    font-family: roboto, sans-serif;
    color: #9b9b9b;
    font-weight: 600;
  }
  h2 {
    color: #4a4a4a;
    margin-bottom: 3rem;
    font-weight: 500;
    font-family: pt-sans-pro, sans-serif;
    font-size: 24px;
    letter-spacing: 0;
  }
  p {
    color: #9b9b9b;
    font-weight: 400;
    font-family: roboto, sans-serif;
  }
}

.maker_box_plans_faq_container {
  text-align: center;
  width: 900px;
}

// Maker Box Reviews

.maker-box-review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5rem 0;
  width: 100vw;
  h2 {
    color: #9b9b9b;
    font-family: pt-sans-pro, sans-serif;
    font-weight: 300;
  }
}

.maker_box_review_container {
  width: 1200px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .maker_box_review_container {
    width: 90vw;
  }
  .maker_box_plans_faq_container {
    width: 90vw;
  }
}

@media screen and (max-width: 600px) {
  .maker_box_plans_faq_container {
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 18px;
    }
    p {
      font-size: 12px;
    }
  }
}

.maker_box_review_image {
  margin-bottom: 1rem;
}

// Maker Box Plans
.maker-box-plans {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin-top: 5rem;
  h1 {
    font-family: pt-sans-pro, sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.1;
    color: rgb(74, 74, 74);
  }
}

.maker_box_plans_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1200px;
  margin-top: 4rem;
}
@media screen and (max-width: 1200px) {
  .maker_box_plans_grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 2rem;
    width: 100vw;
  }
}

.maker_box_item {
  position: relative;
  background: rgb(247, 247, 249);
  background: linear-gradient(
    79deg,
    rgba(247, 247, 249, 1) 0%,
    rgba(235, 243, 255, 1) 100%
  );
  border: 1px solid #e1e1e1;
  padding: 2rem;
  margin: 1rem;
  font-family: pt-sans-pro, sans-serif;
  text-align: center;
  h2 {
    font-family: pt-sans-pro, sans-serif;
    color: rgb(74, 74, 74);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
  }
  p {
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 30px;
    flex-grow: 1;
    font-family: roboto, sans-serif;
    color: rgb(155, 155, 155);
  }
  button {
    font-family: pt-sans-pro, sans-serif;
    background-color: #1b71ff;
    color: white;
    border: none;
    outline: none;
    padding: 15px 30px;
    width: 15rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    &:hover {
      background-color: rgb(0, 204, 255);
    }
  }
}
@media screen and (min-width: 1201px) {
  .maker_item_description {
    height: 10rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .maker_box_item {
    h2 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
    button {
      width: 10rem;
      font-size: 12px;
      padding: 15px 20px;
    }
  }
  .maker_box_plans_grid {
    margin-top: 2rem;
  }
}

.maker-box-plans-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  width: 100vw;
  flex-direction: column;
  background: rgb(88, 208, 239);
  background: linear-gradient(
    36deg,
    rgba(88, 208, 239, 1) 0%,
    rgba(81, 144, 208, 1) 100%
  );
  margin-top: -55px;
  position: relative;
}

.maker_box_plans_hero_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;

  h1 {
    color: white;
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 32px;
  }
  h3 {
    color: white;
    margin-top: 1rem;
    line-height: 1.7rem;
    vertical-align: baseline;
    font-size: 21px;
    font-family: roboto, sans-serif;
    font-weight: 500;
  }
}

.maker_box_plans_hero_text {
  max-width: 21rem;
  margin-right: 2rem;
}
.maker_box_plans_hero_divider {
  height: 5px;
  width: 3rem;
  margin: 30px 0;
  background: #0072ff;
}

@media screen and (max-width: 600px) {
  .maker_box_plans_hero_wrapper {
    width: 90vw;
    h1 {
      font-size: 24px;
    }
    h3 {
      font-size: 18px;
    }
    .maker_box_plans_hero_image {
      display: none;
    }
  }
}

.maker_box_plans_announcement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  bottom: 0;
  position: absolute;
  background-color: #000000;
  width: 100vw;
  padding: 15px;
  p {
    color: white;
    text-align: center;
    font-size: 19px;
    font-family: roboto, sans-serif;
  }
}

@media screen and (max-width: 650px) {
  .maker_box_plans_announcement p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 550px) {
  .maker_box_plans_announcement p {
    font-size: 0.75rem;
  }
  .maker_box_plans_announcement_icon {
    display: none;
  }
}
.maker_box_plans_announcement_icon {
  padding-right: 0.1rem;
}

// Maker Box Plans Hero Section

.maker-box-plans-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  width: 100vw;
  flex-direction: column;
  background: rgb(88, 208, 239);
  background: linear-gradient(
    36deg,
    rgba(88, 208, 239, 1) 0%,
    rgba(81, 144, 208, 1) 100%
  );
  margin-top: -55px;
  position: relative;
}

.maker_box_plans_hero_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;

  h1 {
    color: white;
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 32px;
  }
  h3 {
    color: white;
    margin-top: 1rem;
    line-height: 1.7rem;
    vertical-align: baseline;
    font-size: 21px;
    font-family: roboto, sans-serif;
    font-weight: 500;
  }
}

.maker_box_plans_hero_text {
  max-width: 21rem;
  margin-right: 2rem;
}
.maker_box_plans_hero_divider {
  height: 5px;
  width: 3rem;
  margin: 30px 0;
  background: #0072ff;
}

@media screen and (max-width: 600px) {
  .maker_box_plans_hero_wrapper {
    width: 90vw;
    h1 {
      font-size: 24px;
    }
    h3 {
      font-size: 18px;
    }
    .maker_box_plans_hero_image {
      display: none;
    }
  }
}

.maker_box_plans_announcement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  bottom: 0;
  position: absolute;
  background-color: #000000;
  width: 100vw;
  padding: 15px;
  p {
    color: white;
    text-align: center;
    font-size: 19px;
    font-family: roboto, sans-serif;
  }
}

@media screen and (max-width: 650px) {
  .maker_box_plans_announcement p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 550px) {
  .maker_box_plans_announcement p {
    font-size: 0.75rem;
  }
  .maker_box_plans_announcement_icon {
    display: none;
  }
}
.maker_box_plans_announcement_icon {
  padding-right: 0.1rem;
}

// Social Media Links

.social-media-links {
  .fab:hover {
    color: #45aeed;
  }
}
