{% section "boxes" %}
{% section "carousel" %}

<div class="commitment-text">
    <div class="page-width">
        <div class="commitment-flex">
            <div class="lefttext">
                <h2>Our
                    <span>commitment</span>
                    to you</h2>
                <p>You’ll appreciate the attention to detail and commitment to quality of all Box Mountain subscription plan products.  We’ve scoured the world in search of unique and  interesting products, some of which are exclusive to  Box Mountain.</p>
                <p>Our experienced team is devoted to reliability, and has shipped over 40,000 subscription boxes on time over the past 3 years. Rest assured your products will arrive on time and without service issues.</p>
                <div class="boxmtn-quote">
                    <div class="quote-red-dash"></div>
                    <div class="commitment-quoted">
                        BOX MOUNTAIN LLC.
                    </div>
                </div>
            </div>
            <div class="rightimg">
                <img src="https://cdn.shopify.com/s/files/1/0370/3422/9898/t/2/assets/boxmtn-img.jpg?v=1589503752">
            </div>
        </div>
    </div>

</div>
